body {
  margin: 0;
  box-sizing: border-box;

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    background-color: #4c91ad;
}

.activeClassName{
   color:aliceblue
}

.mein_menu{
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #fff !important;
}

.mein_menu .activeClassName{
  background-color: #fff;
}
