*{
    box-sizing: border-box;
    /* background-color: rgb(141, 157, 170); */
}


.login_form{
   
     
    margin: 100px auto;
    text-align: center;
}

.form{
    width: 20%;
    display: flex;
    flex-direction: column;
    margin: 100px auto;
    background-color: #ffffff !important;
    border-radius: 10px;      
}

input{
    justify-content: space-between;
    padding: 10px;
    /* border-radius: 3px solid black; */
    margin: 10px;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid black;
    outline: none;
    border-radius: 5px;
    box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.5);
    background-color: #fff !important;
}

/* .MuiButton-label{
    background-color: aquamarine;
    width: 30px;
    height: 50px;
    position: absolute;
    bottom: -28px;
    left: 400px;
    cursor: pointer;
    background-color: #fff !important;
    box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.5);
    border-radius: 50% !important;
} */

/* .MuiButton-label .login_btn{
   
    margin: 50px;
         
} */

button{
 cursor: pointer;
 /* text-align: center; */
}

/* .login_btn{
    width: 50px;
    margin: 20px auto;
    padding: 10px 64px 11px 19px;
    text-align: center;
    font-size: inherit;
    color: currentColor;
    background-color: rgb(134, 223, 134);
    border: 2px solid orangered;
    border-radius: 21px;
    box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.5);
} */

 
 button:hover{
    /* color: cadetblue
    ; */
    background-color: aliceblue;
   
}

h1{
   margin-bottom: 4px;
   color: blue;
}


 .MuiTouchRipple-root{
    
 }


 .login_btn{
    
}

.MuiTouchRipple-root{
  background-color: #ffffff;
  margin: 18px;
}
